.body {
  font-family: 'Lato', sans-serif;
}

/*header */
.customNav {
  width: 100%;
  background-color: #0B0E13 !important;
  height: 60px;
  z-index: 10;
  }
  
  .navbar-nav {
  margin-left: auto;
  margin-right: 1% !important;
  }
  
  .nav-item {
  margin: 0px 15px;
  font-size: 100%;
  
  }
  .nav-link {
  color: white !important;
  font-family: 'Lato', sans-serif;
  }
  .nav-link:hover {
    color: black !important;
    font-family: 'Lato', sans-serif;
    }
  nav ul li:hover { 
    background: #F7D26D; 
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
  }

p {
margin-bottom: 0px;
}
h1 {
padding-top: 5%;
padding-bottom: 5%;
color: white;
font-family: 'Josefin Slab', serif;
font-size: 300%;
padding-left: 10%;
}

h3 {
  color: black;
  font-family: 'Lato', sans-serif;
  }

h4 {
color: white;
font-family: 'Josefin Slab', serif;
font-size: 200%;
font-weight: normal;
margin-bottom: 5%;
padding-left: 10%;
}


.container {
  padding-bottom: 5%;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-text {
  font-family: 'Lato', sans-serif;
}

.card {
  border-radius: 15px;
}
.card-body{
  border-radius: 15px;
}

a {
  text-decoration: none;
  color:black;
}
a:hover {
text-decoration: none;
color:black;
}

.footerContainer {
  padding-top: 2%;
  padding-bottom: 2%;
}

.textFooter {
  font-family:'Lato', sans-serif;
  font-size: 100%;
  font-weight: normal;
  color:black;
  margin: 0 auto;
  justify-content: center;
}

.textFooter:hover {
  font-weight: bold;
}

.middleRow {
  margin: 0 auto;
  justify-content: center;
}

.social {
  float: right;
  margin-left: 5%;
}

.socialfb {
  margin-right: 15%;
}



